table {
    table-layout: fixed;
    background-color: white;
    border-radius: 10px;
}

table td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

span.fonttext{
	font-size: 40px;
}

html{
	background-color: #616161;
}
